---
layout: style
---

/* Custom CSS Entered Here */

@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

img.logo
{
    height: 50px;
    margin-top: -15px;
}


.team-member img {
    width: 220px;
}