---
layout: style
---

/* Custom CSS Entered Here */

@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

img.logo
{
    height: 50px;
    margin-top: -15px;
}


.team-member img {
    width: 220px;
}

#about > div.container > div.row{
    text-align: center;
}

/* Inserted when I took the team down to one person instead of the default 3 of the theme  */
#about > div.container > div.row > div.col-sm-4 {
    width: 100%;
}

div.portfolio-hover {
  height: 345px;
}
